#header.header-scrolled, #header.header-pages, #header {
    height: 90px;
    background-color: #312f2f;
    padding: 20px 0px;
}
#header .logo img {
    margin: 0px;
    max-height: 60px;
}
.main-nav, .main-nav * {
    padding: 2px;
}
.main-nav a {
    color: #ffffff;
    letter-spacing: 0.5px;
}
main {
    padding-top: 90px;
}
.outer{
    padding: 0px !important;
}
.no-padding{
    padding: 0px !important;
}
.form-outer {
    padding: 15% 0px;
}
.main-title {
    color: #71db77;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
.sub-title{
    text-align: center;
    font-weight: 500;
}
.submit-btn{
    background: #71db77;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
}
.form-group {
    margin-bottom: 2rem;
}
.contactForm {
    padding: 50px 20px;
}
.remember-outer{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
}
.checkbox{
    width: 50%;
}
.forgot-password {
    width: 50%;
}
.forgot-password a{
    float: right !important;
}
.checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.checkbox label{
    align-items: center;
    display: flex;
}
.action-btn-outer {
    display: flex;
}
.action-btn-outer div{
    width: 50%;
}
.signup-btn{
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}
.action-btn-outer button:focus{
    outline: none;
}
.validation {
    font-size: 14px;
    color: red;
}
.form-footer {
    position: absolute;
    bottom: 60px;
    font-size: 12px;
}
.form-footer a, .form-footer1 a {
    color: #05386B;
}
.form-footer div {
    width:50%;
    float: left;
    text-align: center;
}

.form-footer1 {
    position: relative;
    float: right;
    font-size: 12px;
    text-align: right;
    padding-bottom: 50px;
    padding-top: 10px;
}
.form-footer1 div {
    float: left;
    text-align: right;
    width: 50%;
}

/*------------------------------- Signup form css----------------------------*/
/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 0px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 14px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #71db77;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 15px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px  #71db77;
}

#msform .action-button-previous {
    width: 100px;
    background: #71db77;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #71db77;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 40%;
    padding: 0px;
}

#progressbar li {
    list-style-type: none;
    color: #000000;
    text-transform: capitalize;
    font-size: 11px;
    width: 50%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center;
    display: block;
    font-weight: 600;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 22px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    border: 1px solid #71db77;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #cccccc;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #71db77;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #71db77;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}
.signup-form-outer {
    padding: 3% 0px;
    width: 100%;
}
.signup-outer input[type="checkbox"] {
    display: block;
    width: 20px !important;
    margin: 0px !important;
}
.signup-outer .checkbox {
    width: 100%;
}
.signup-outer {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-top: 30px;
}
.form-control {
    border: 0px;
    border-bottom: 1px solid #cccccc !important;
    border-radius: 0px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}
.form-control:hover, .form-control:focus {
    border-bottom: 1px solid #71db77 !important;
    outline: none;
    color: #000000;
    background-color: #fff;
    box-shadow: none;
}
.signup-name{
    float: left;
}
.fname{
    padding: 0px 10px 0px 0px;
}
.lname{
    padding: 0px 0px 0px 10px;
}
.already-user a{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-decoration: underline;
}

/*-------------------------------registration page css-----------------------------*/
.custom-outer{
    background: #fafafc;
}
.page-header-outer {
    padding: 0px;
    background: #ffffff;
    box-shadow: 0px 0px 10px 1px #cccccc;
    height: 80px;
    display: inline-flex;
}
.page-header {
    padding: 25px 0px;
    float: left;
    /* display: table-cell;
    vertical-align: middle; */
}
.bcircle {
    background: #71db77;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
}
.scircle {
    background: #71db77;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 2px;
}
.ltitle {
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
}
.right-block {
    display: inline-flex;
}
.right-block .ltitle {
    font-size: 15px;
}
.account-nav nav {
    height: 30px;
}
.account-nav li.drop-down {
    height: 30px;
    background: #71db77;
    border-radius: 40px;
}
.account-nav .main-nav a {
    padding: 2px 10px;
    text-transform: capitalize;
}
.account-nav .main-nav a:hover, .account-nav .main-nav .active > a, .account-nav .main-nav li:hover > a {
    color: #333333;
}
.account-nav i.fa.fa-user-circle-o {
    font-size: 20px;
    vertical-align: middle;
    padding-right: 10px;
}
.custom-left-block {
    /* background: #ffffff; */
}
.upper-left {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 20px 0px;
    background: #ffffff;
    margin-bottom: 15px;
}
.upper-left img{
    width: 50%;
    padding-bottom: 10px;
}
.upper-left h6 {
    margin: 5px;
    font-weight: 600;
}
.upper-left p {
    font-weight: 600;
    font-size: 14px;
    margin:5px;
}
.padding-tb{
    padding: 15px 0px;
}
.update-kyc{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
    background: #312f2f;
    border-radius: 40px;
    padding: 5px 5px 10px;
}
.update-kyc .ltitle{
    vertical-align: bottom;
    color: #71db77;
    font-size: 15px;
    font-weight: 600;
    padding: 0px;
}
.update-kyc .scircle{
    padding: 12px;
    
}
.lower-left{
    background: #ffffff;
}

/*------------------------------------------custom-left-block vertical tabs css starts here------------------*/
.nav-tabs {
    display: none;
  }

.padding-lr-15{
    padding: 0px 15px;
}
.custom-right-block{
    background: #ffffff;
    width: 100%;
    padding: 20px 0px;
}
.display-flex{
    display: flex;
}
.right-title {
    font-weight: 600;
}
.rsub-title {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}
.add-file{
    text-align: right;
    float: right;
    border: 1px solid #71db77;
    padding: 5px 20px;
    border-radius: 40px;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}
.add-file:hover{
    color: #71db77;
}
.add-file .fa {
    padding-right: 10px;
}
.divider {
    border-top: 1px solid #333333;
    margin: 0px 20px;
}
.divider1 {
    border-top: 1px solid #333333;
    margin: 0px 0px;
}
.custom-left-block li.nav-item {
    background: #eceef2;
    border: 0px !important;
    margin-bottom: 10px;
    padding: 5px 0px;
    font-weight: 700;
}
.custom-left-block .nav-tabs .nav-link {
    border: 0px;
    text-align: center;
    color: #333333;
}
.custom-left-block .nav-tabs a label{
    cursor: pointer;
}
.custom-left-block .nav-tabs .nav-link.active, .custom-left-block .nav-tabs .nav-link.active:hover {
    border: 0px;
    border-bottom: 4px solid #05386b !important;   
    margin-right: -1px;
    border-radius: 0px !important;
    background: #eceef2;
}
.custom-left-block .nav-tabs .nav-link:focus, .nav-tabs .nav-item + .nav-item{
    outline: none !important;
}
.custom-left-block label {
    width: 36%;
    text-align: left;
}
.custom-left-block .nav-tabs {
    border-right: 0px solid #ddd;
}
.dataTables_length, #registration .dataTables_filter, .paginate_button.previous, .paginate_button.next, .dataTables_info, .dataTables_filter {
    display: none !important;
}
div#portfoliotable_filter {
    display: block !important;
}
.dataTable tr.odd {
    background: #f5f6f7 !important;
    border-color: #f5f6f7 !important;
}
.dataTable tr.even {
    background: #eceef2 !important;
    border-color: #eceef2 !important;
}
.borderless thead th,
.borderless tbody,
.borderless tbody tr,
.borderless tbody td {
    border-style: none;
    padding: 15px 10px !important;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 18px 18px;
    font-size: 13px;
    font-weight: 600;
}
.card-body {
    padding: 0px 1.25rem;
}
.table-regtitle label{
    background: #71db77;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
}
.table-regtitle, .table-remtitle, .remtitle-td {
    text-align: center;
}
.regtitle-td{
    text-align: center;
}
.regtitle-td label {
    background: #05386B;
    border: 0;
    border-radius: 20px;
    padding: 5px 30px;
    color: #fff;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
}
.table-remtitle label{
    background: transparent;
    border: 0;
    border-radius: 20px;
    padding: 7px 30px;
    color: #000000;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
    border: 1px solid #000000;
}
.remtitle-td label{
    background: transparent;
    border: 0;
    border-radius: 20px;
    padding: 4px 30px;
    color: #000000;
    transition: 0.3s;
    outline: none;
    margin-bottom: 0px;
    border: 1px solid #000000;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px 2px;
    background: #ECEEF2;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #71db77;
    color: #ffffff !important;
    border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: #71db77;
    border: 0px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 20px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #71db77;
    border-color: transparent;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 4px;
  left: 3px;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar-upload .avatar-edit input + label:hover:after {
    color: #05386b;
}
.account-nav .main-nav .drop-down ul a {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    padding: 5px 20px;
}
.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
    color: #71db77;
}
.card.tab-pane {
    padding: 0px !important;
}
#portfolio div#portfoliotable_filter {
    width: 100%;
    border-bottom: 1px solid #000000;
}
#portfolio #portfoliotable_filter label{
    width: 100%;
    float: left;
    text-align: center;
    padding: 15px 0px 10px;
}
#portfolio #portfoliotable_filter input[type="search"] {
    border-radius: 20px;
    border: 0px solid #000000;
    background: #ECEEF2;
    outline: none;
    padding: 10px;
    width: 45%;
    font-size: 14px;
}
#portfolio .borderless thead th, #portfolio .borderless tbody, #portfolio .borderless tbody tr, #portfolio .borderless tbody td, #portfolio table.dataTable thead th, #portfolio table.dataTable thead td {
    font-size: 13px;
    text-align: center;
}
#portfolio .borderless tbody tr {
    
}
#portfolio td {
    width:25%;
}
#portfolio td.td-odd {
    background: #F5F6F7;
    border-bottom: 1px solid #cdcdcd !important;
}
#portfolio td.td-even {
    background: #ECEEF2;
    border-bottom: 1px solid #cdcdcd !important;
}
.add-file-outer .avatar-edit.add-file {
    position: relative;
    width: 100%;
    right: 0px;
    top: 0px;
}
.add-file-outer {
    position: relative;
    max-width: 205px;
    margin: 0px;
}
.add-file-outer .avatar-edit input + label:after{
    display: none;
}
.add-file-outer .avatar-edit input + label {
    display: inline-block;
    width: 100%;
    box-shadow: none;
    height: 25px;
    text-align: center;
    background: transparent;
}
.add-file-outer .avatar-edit input + label:hover {
    background: transparent;
    border-color: transparent;
}
.back-to-top {
    background: #71db77;
}
.verification  .add-file-outer {
    text-align: center;
    margin: 0 auto;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.padding-tb-15{
    padding: 15px 0px;
}
.borderless thead tr.upper-title th {
    padding: 5px 10px !important;
    border-bottom: 0px;
    font-size: 14px;
}
.borderless thead tr.lower-title th {
    padding: 5px 10px 0px !important;
    border-bottom: 0px;
    text-align: center;
    width: 25%;
}
#history td {
    width: 25%;
}
#history .borderless td {
    text-align: center;
    font-size: 13px;
}
/* Reset Select */
.myselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
    background-image: none;
    color: #000000 !important;
  background-image: none;
}
/* Remove IE arrow */
.myselect select::-ms-expand {
  display: none;
}
/* Custom Select */
.myselect {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: #ffffff !important;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #71db77;
    border-radius: 20px;
}
.myselect select {
  flex: 1;
  padding: 0 1.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.myselect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ffffff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  border-left: 1px solid #71db77;
      color: #71db77;
}
/* Transition */
.myselect:hover::after {
  color: #05386b;
}
.text-right{
    text-align: right;
}
tr.upper-title th, tr.upper-title th a {
    color: #05386b !important;
}
.rsub-title1 {
    text-align: left;
    font-weight: 600;
    font-size: 13px;
    padding: 20px 0px 0px;
    margin-bottom: 0px;
}
.queryform textarea{
    background-color: #ECEEF2;
    margin: 20px 0px 10px;
    padding: 10px;
}
.queryform textarea::-webkit-input-placeholder {
    font-size: 13px;
}

.queryform textarea:-moz-placeholder { /* Firefox 18- */
    font-size: 13px;  
}

.queryform textarea::-moz-placeholder {  /* Firefox 19+ */
    font-size: 13px;  
}

.queryform textarea:-ms-input-placeholder {
    font-size: 13px;  
}
/*.profile-pic:hover .edit {
    display: block;
}

.edit {
    padding-top: 7px;   
    padding-right: 7px;
    position: absolute;
    right: 100px;
    top: 36px;
    display: none;
}

.edit a {
    color: #05386b;
}*/
  @media (min-width: 768px) {
    .nav-tabs {
      display: flex;
      flex-flow: column nowrap;
    }
    .nav-tabs {
      border-bottom: none;
      border-right: 1px solid #ddd;
      display: flex;
    }
    .nav-tabs {
      margin: 0 15px;
    }
    .nav-tabs .nav-item + .nav-item {
      margin-top: 0.25rem;
    }
    .nav-tabs .nav-link {
      transition: border-color 0.125s ease-in;
      white-space: nowrap;
    }
    .nav-tabs .nav-link:hover {
      background-color: #f7f7f7;
      border-color: transparent;
    }
    .nav-tabs .nav-link.active {
      border-bottom-color: #ddd;
      border-right-color: #fff;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0;
      margin-right: -1px;
    }
    .nav-tabs .nav-link.active:hover {
      background-color: #fff;
      border-color: transparent !important;
    }
  
    .card {
      border: none;
    }
  
    .card .card-header {
      display: none;
    }
  
    .card .collapse {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .tab-pane {
      display: block !important;
      opacity: 1;
    }
  }

/*------------------------------------------custom-left-block vertical tabs css ends here------------------*/